.search {
  display: flex;
  justify-content: center;
  align-items: center;

  input,
  button {
    font-size: 2rem;
    padding: 0.3rem;
    border: 2px solid black;
  }

  button {
    background-color: palevioletred;
    color: white;
    margin-left: 10px;
    padding: 6px;
    &:hover {
      background-color: rgb(218, 64, 115);
      cursor: pointer;
    }
  }
}
